
table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: rgb(238, 255, 0);
    color: rgb(36, 36, 184);
  }
  
  td {
    border: 1px solid rgb(0, 0, 0); 
    text-align: left;
    padding: 10px;
  }
  
  